.post{
    margin:auto;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:65vh;
    width: 60%;
    background-color: white;
}
.image{
    height:30%;
}
.content{
    display: flex;
    flex-direction: column;
    height: 50%;
    margin-left: 3vh;
    margin-right: 3vh;
}
.delete-button{
    display: flex;
    height: 10%;
    cursor: pointer;
}
.post p{
    font-family: 'The Girl Next Door', cursive;
    color:black;
    align-self: center;
    font-size: 1.5vh;
}
.post h1{
    font-family: 'The Girl Next Door', cursive;
    color:black;
    font-size: 2.5vh;
}
.post img{
    width:20vh;
    height: 20vh;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    cursor: pointer;
  }
.noselect p{
    color:rgb(238, 198, 238);
}
@media only screen and (max-width: 768px) { 
    .post{  
        height:60vh;
        width: 80%;
    }
}