.admin-form{
    height:1000px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    margin-left: 30%;
    top:10%;
    width:40%;    
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}
.admin-form.show{
    transform: translateX(0);
}


.adminLogin{
    display: flex;
    flex-direction: column;
}
.admin-form h1 {
    font-size: 40px;
    font-weight: 200;
    color: white;
  }
  
  .admin-form  input {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 30px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 300;
  }
  
  .admin-form  button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #000000;
    border-radius: 3px;
    width: 290px;
    font-size: 18px;
    cursor: pointer;
  }
