  *{
    top:0;
  }
  body{
    height:100%;
  }
  p{
    margin-top: 0;
    color: white;
  }
 
  @media screen and (max-width:768px){  
    .navigation{
      display: none;
    }
  }
  /*SVG*/
  /* -----
  SVG Icons - svgicons.sparkk.fr
  ----- */
  
  .svg-icon {
    width: 1.5em;
    height: 1.5em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: white
  }
    ::-webkit-scrollbar {
    width: 16px;
    }
    
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
    }
    
    ::-webkit-scrollbar-thumb {
    background:#af727b;
    border-radius: 5px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background:#664248;
    }